@import "config";
@import "buttons";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  @include adjust-header-colors($header-bg-color);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
    }
    li {
      padding: 0.625em;
    }
    a {
      text-decoration: none;
      color: adjust-nav-text-color($nav-text-color-contrast);
    }
    a:hover {
      font-weight: 600;
    }
    h1 {
      font-family: $font-brand;
      color: adjust-brand-text-color($brand-text-color-contrast);
    }
  }

  &-content {
    display: flex;
    justify-content: center;

    div:nth-child(1) {
      flex-basis: 100%;
    }

    div:nth-child(2) {
      flex-basis: 100%;
      padding-left: 2em;
    }
  }

  p {
    text-align: justify;
    padding: 1em 0em;
  }
}

.header-container {
  width: min(90%, 60rem);
  margin-inline: auto;
  padding: 0 2em 2em;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: $font-primary;
  line-height: 1.5;
}

h2 {
  font-family: $font-heading;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: adjust-heading-text-color($heading-text-color-contrast);
}
