@use '../abstracts' as *;

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
  }
  li {
    padding: 0.625em;
  }
  li:nth-child(3) {
    padding-right: 0em;
  }
  a {
    text-decoration: none;
    color: adjust-nav-text-color($nav-text-color-contrast);
  }
  a:hover {
    font-weight: 600;
  }
  @include media(small) {
    li {
      padding-left: 0em;
    }
  }
  @include media(miniature) {
    justify-content: space-evenly;
  }
}
