/* header colors */
// header background
$header-bg-color: #b1d9d1;

// header text colors
$heading-text-color: #461f26;
$text-color: #1c0c0f;
$brand-text-color: #753340;
$nav-text-color: #834753;

// header btn text colors
$btn-text-color: $heading-text-color;

// header btn bg colors
$btn-one-bg-color: darken($header-bg-color, 15%);
$btn-two-bg-color: #bbb486;

/* header contrast colors*/
// header bag contrast colors
$header-bg-color-contrast: #232b2a; //darker shade of header-bg-color /*TEST*/

// header text contrast colors
$heading-text-color-contrast: #a38f93; //lighter shade of heading-color
$text-color-contrast: #bbb6b7; //lighter shade of text-color
$brand-text-color-contrast: #915c66; //lighter shade of brand-text-color
$nav-text-color-contrast: #b59198; //lighter shade of nav-text-color

// btn bg contrast colors
$btn-one-bg-color-contrast: lighten($header-bg-color-contrast, 30%);
